* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {scroll-behavior: smooth;}

body {
  display: flex;
  flex-direction: column;
  background-color: gray;
  color: gainsboro;
  font: 100% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

ul {list-style-type: none;}

a {text-decoration: none;}

section {
  height: 100vh;
  width: 100%;
}

/* HEADER */
header {
  display: flex;
  justify-content:space-between;
  height: 8vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

#header-logo {
  height: 80%;
  margin: 0.625em;
}

header #navbar {margin: auto 2%;}

header #nav-links li {float: left;}

header #nav-links a {
  display: inline-block;
  text-align: center;
  padding: 0.75em;
  font: 1.25em 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}m

header #nav-links a:active,
header #nav-links a:hover {
  background-color: rgb(145, 127, 127);
  color: black;
  font-weight: 500;
}

header #nav-links a:link, 
header #nav-links a:visited {color: gainsboro;}



/* HOME */
#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

#home-section h1 {
  margin-top: 8%;
  font-size: 10vw;
  font-weight: 400;
  color: black;
}

#home-section h2 {
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  color: gainsboro;
  margin-bottom: 1em;
}

#home-section button {
  width: 7.5em;
  height: 2.25em;
  border-top: none;
  border-left: none;
  border-right: 0.15em double black;
  border-bottom: 0.15em double black;
  border-radius: 0.25em;
  background-color: rgb(145, 127, 127);
  font: italic 2em Cambria, Georgia, Times, 'Times New Roman', serif;
}

#home-section button a {
  color: black;
  font-weight: bold;
}

#home-section button:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}



/* ABOUT ME */
#about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%;
}

#about-section img {
  float: left;
  height: 14em;
}

#about-section-bio {
  padding: 10%;
  font-size: 1.5em;
}

#about-section-bio span {
  font-size: 2em;
  font-weight: 600;
}

#about-section-bio::first-line {
  font-size: xx-large;
  vertical-align: middle;
  color: black;
}



/* PORTFOLIO */
#portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#portfolio {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#portfolio-section h2 {
  text-align: center;
  font-size: 4em;
  color: black;
  margin-bottom: 0.5em;
}

.portfolio-item {
  width: 240px;
  height: 240px;
  position: relative;
  margin: 1.5em;
  padding: 0.75px;
  border-radius: 0.75em;
  text-align: justify;
}

.portfolio-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 0.375em double black;
  border-radius: 0.5em;
}

.portfolio-item-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 0.5em;
}

.portfolio-item:hover {
  transform: scale(1.25);
  transition: 0.3s ease-in;
  border: 0.75em solid rgb(145, 127, 127);
}

.portfolio-item:hover .portfolio-item-overlay {opacity: 1;}

.portfolio-item-overlay h3 {padding: 1em;}

.portfolio-item-overlay p {
  padding: 0.75em;
  font-size: 1em;
  text-align: center;
  font-style: italic;
}



/* TESTIMONIALS */
#testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#testimonials-section h2 {
  text-align: center;
  font-size: 4em;
  color: black;
  margin-bottom: 1em;
}

.testimonial-item {
  display: flex;
  flex: 3;
  height: 480px;
  width: 330px;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-left: 0.25em double darkgray;
  border-bottom: 0.25em double darkgray;
  border-radius: 0.75em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-item img {height: 8em;}

.testimonial-item h3 {
  padding-top: 0.5em;
  font-size: 1.25em;
  text-align: center;
  color: black;
}

.testimonial-item p {
  padding: 1em;
  font-size: 1.25em;
  overflow: scroll;
}



/* CONTACT ME */
#contact-section, #contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-section h2 {
  text-align: center;
  font-size: 2.5em;
  color: black;
}

#contact-section form { 
  max-width: 600px; 
  margin: 3em auto; 
}

#contact-section .form-input-field {
  color:white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 0.25em double darkgray;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

#contact-section .form-input-field:focus { 
  border: 0.25em double black; 
}

#contact-section textarea {
  height: 200px;
  line-height: 150%;
  resize: vertical;
}

#contact-section [type="submit"] {
  width: 100%;
  background-color: black;
  border-radius: 0.5em;
  border: 0.25em double rgb(145, 127, 127);
  cursor: pointer;
  color: rgb(145, 127, 127);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight: 700;
}

#contact-section [type="submit"]:hover { 
  background-color: rgb(145, 127, 127);
  color: black;
  border: 0.25em double black; 
}



/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vh;
  background-color: rgb(145, 127, 127);
  font-size: small;
  position: sticky;
  bottom: 0;
}

footer .social-link-item {float: left;}

footer .social-link-item img {height: 1.75em;}

footer .social-link-item img:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

footer .social-link-item a {
  display: inline-block;
  text-align: center;
  padding: 0.75em;
  font: 1.5em 'Courier New', Courier, monospace
}

footer #copyright {
  font-size: medium;
  font-weight: 600;
  color: black;
}